<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwTmVvszhq-FQoQ6LIefFPt9L2x3Mo-jM</string>
	<key>GCM_SENDER_ID</key>
	<string>386170056124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ncapp.notificationcheck</string>
	<key>PROJECT_ID</key>
	<string>testnotification-67999</string>
	<key>STORAGE_BUCKET</key>
	<string>testnotification-67999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386170056124:ios:1fa16869428d40eb918fb9</string>
</dict>
</plist>